##### Capstone Project1: Identifying counties that are the most fire-prone and predicting the cause of a fire wildfire.

DataSet: 1.88 Million US Wildfires (Kaggle1)

This data publication contains a spatial database of wildfires that occurred in the United States from 1992 to 2015. It is the third update of a publication originally generated to support the national Fire Program Analysis (FPA) system. The wildfire records were acquired from the reporting systems of federal, state, and local fire organizations. The following core data elements were required for records to be included in this data publication: discovery date, final fire size, and a point location at least as precise as Public Land Survey System (PLSS) section (1-square mile grid). The data were transformed to conform, when possible, to the data standards of the National Wildfire Coordinating Group (NWCG). Basic error-checking was performed, and redundant records were identified and removed, to the degree possible. The resulting product, referred to as the Fire Program Analysis fire-occurrence database (FPA FOD), includes 1.88 million geo-referenced wildfire records, representing a total of 140 million acres burned during the 24 years.

In this documnet I have mentioned and explained the data wrangling steps I took to clean the dataset

Step 1: As the dataset was in SQL format, I did some cleaning activity in SQLite with Query.
These were many columns in SQL table "fires" which was related to Source of data and agency informaton which collected or prepared report on Data. I omited these columns and imported only relevamt data to "US_Wildfire_data.csv" file.
Also while importing I filled in all the null/blank values with "Nan" value.


select FOD_ID,LOCAL_FIRE_REPORT_ID,LOCAL_INCIDENT_ID,FIRE_CODE,FIRE_NAME,ICS_209_INCIDENT_NUMBER,ICS_209_NAME,MTBS_ID
,MTBS_FIRE_NAME,COMPLEX_NAME,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_DOY,DISCOVERY_TIME,STAT_CAUSE_CODE,STAT_CAUSE_DESCR ,CONT_DATE,CONT_DOY,CONT_TIME,FIRE_SIZE,
FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,OWNER_CODE,OWNER_DESCR,STATE,COUNTY,FIPS_CODE,FIPS_NAME from Fires

In [219]:
#importing all required packages
import pandas as pd
import numpy as np

# Reading US_WildFire data from .csv file to DataFrame
US_fires = pd.read_csv('US_Wildfire_data.csv',low_memory=False)

In [220]:
US_fires.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 29 columns):
FOD_ID                     1048575 non-null int64
LOCAL_FIRE_REPORT_ID       301217 non-null object
LOCAL_INCIDENT_ID          369317 non-null object
FIRE_CODE                  223449 non-null object
FIRE_NAME                  412256 non-null object
ICS_209_INCIDENT_NUMBER    12544 non-null object
ICS_209_NAME               12544 non-null object
MTBS_ID                    6989 non-null object
MTBS_FIRE_NAME             6989 non-null object
COMPLEX_NAME               3173 non-null object
FIRE_YEAR                  1048575 non-null int64
DISCOVERY_DATE             1048575 non-null float64
DISCOVERY_DOY              1048575 non-null int64
DISCOVERY_TIME             434827 non-null float64
STAT_CAUSE_CODE            1048575 non-null int64
STAT_CAUSE_DESCR           1048575 non-null object
CONT_DATE                  462280 non-null float64
CONT_DOY                   462280 non-null float64
CONT_TIME                  425077 non-null float64
FIRE_SIZE                  1048575 non-null float64
FIRE_SIZE_CLASS            1048575 non-null object
LATITUDE                   1048575 non-null float64
LONGITUDE                  1048575 non-null float64
OWNER_CODE                 1048575 non-null int64
OWNER_DESCR                1048575 non-null object
STATE                      1048575 non-null object
COUNTY                     559421 non-null object
FIPS_CODE                  559421 non-null float64
FIPS_NAME                  559421 non-null object
dtypes: float64(9), int64(5), object(15)
memory usage: 232.0+ MB

Step 2: By looking at the info of dataframe I observed many columns with more than 50% of its data with null values. As those columns were not helping data set I omitted those columns.

In [221]:
# Picking columns which have more than 50% of total data 
US_fires =  US_fires[['FOD_ID','OWNER_DESCR','DISCOVERY_DATE','DISCOVERY_DOY','STAT_CAUSE_DESCR','FIRE_YEAR','FIRE_SIZE','FIRE_SIZE_CLASS','LATITUDE','LONGITUDE','STATE','FIPS_NAME']]
US_fires = US_fires.rename(columns={'FIPS_NAME':'COUNTY_NAME'})

In [222]:
US_fires.head(10)

,FOD_ID,OWNER_DESCR,DISCOVERY_DATE,DISCOVERY_DOY,STAT_CAUSE_DESCR,FIRE_YEAR,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,COUNTY_NAME
0,1,USFS,2453403.5,33,Miscellaneous,2005,0.10,A,40.036944,-121.005833,CA,Plumas
1,2,USFS,2453137.5,133,Lightning,2004,0.25,A,38.933056,-120.404444,CA,Placer
2,3,STATE OR PRIVATE,2453156.5,152,Debris Burning,2004,0.10,A,38.984167,-120.735556,CA,El Dorado
3,4,USFS,2453184.5,180,Lightning,2004,0.10,A,38.559167,-119.913333,CA,Alpine
4,5,USFS,2453184.5,180,Lightning,2004,0.10,A,38.559167,-119.933056,CA,Alpine
5,6,USFS,2453186.5,182,Lightning,2004,0.10,A,38.635278,-120.103611,CA,Amador
6,7,USFS,2453187.5,183,Lightning,2004,0.10,A,38.688333,-120.153333,CA,El Dorado
7,8,STATE OR PRIVATE,2453437.5,67,Debris Burning,2005,0.80,B,40.968056,-122.433889,CA,NaN
8,9,STATE OR PRIVATE,2453444.5,74,Debris Burning,2005,1.00,B,41.233611,-122.283333,CA,NaN
9,10,USFS,2453187.5,183,Lightning,2004,0.10,A,38.548333,-120.149167,CA,Amador

In [223]:
US_fires.shape

(1048575, 12)

Step3: As County_Name  is the column which I am interested in, I checked if there are any Nan values in that column.

In [224]:
US_fires['COUNTY_NAME'].value_counts(dropna=False)

NaN                 489154
Coconino              6190
Lincoln               5646
Polk                  5512
Jackson               5415
                     ...
Wilkin                   1
Edmunds                  1
Brooke                   1
Buena Vista City         1
Whitman                  1
Name: COUNTY_NAME, Length: 1427, dtype: int64

Step 4: Filling the missing values of COUNTY_NAME column using 'LATITUDE' and 'LONGITUDE' columns. 
To do this I assigned rows with "Nan" values in FIPS_NAME(County name) to new dataframe and merged values of 'LATITUDE' and 'LONGITUDE' columns into new column.
Also reIndexing DataFrame

In [225]:
# Assigned all the rows which have no county names to new DataFrame 
nullCountyNameDF = US_fires[US_fires['COUNTY_NAME'].isnull()]


# zipped Latitude and Longitude into new column
nullCountyNameDF['LatLong'] = list(zip(nullCountyNameDF.LATITUDE, nullCountyNameDF.LONGITUDE))

# reindexing the new DataFrame
nullCountyNameDF.index = pd.RangeIndex(len(nullCountyNameDF.index))

C:\Users\Lasya\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [226]:
nullCountyNameDF.head()

,FOD_ID,OWNER_DESCR,DISCOVERY_DATE,DISCOVERY_DOY,STAT_CAUSE_DESCR,FIRE_YEAR,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,COUNTY_NAME,LatLong
0,8,STATE OR PRIVATE,2453437.5,67,Debris Burning,2005,0.8,B,40.968056,-122.433889,CA,NaN,"(40.96805556, -122.4338889)"
1,9,STATE OR PRIVATE,2453444.5,74,Debris Burning,2005,1.0,B,41.233611,-122.283333,CA,NaN,"(41.23361111, -122.28333329999998)"
2,48,USFS,2453535.5,165,Lightning,2005,0.5,B,39.292222,-105.183056,CO,NaN,"(39.29222222, -105.18305559999999)"
3,62,USFS,2453520.5,150,Lightning,2005,0.2,A,38.913333,-105.983611,CO,NaN,"(38.91333333, -105.9836111)"
4,63,USFS,2453542.5,172,Campfire,2005,0.1,A,39.100278,-106.367500,CO,NaN,"(39.10027778, -106.3675)"

In [227]:
nullCountyNameDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489154 entries, 0 to 489153
Data columns (total 13 columns):
FOD_ID              489154 non-null int64
OWNER_DESCR         489154 non-null object
DISCOVERY_DATE      489154 non-null float64
DISCOVERY_DOY       489154 non-null int64
STAT_CAUSE_DESCR    489154 non-null object
FIRE_YEAR           489154 non-null int64
FIRE_SIZE           489154 non-null float64
FIRE_SIZE_CLASS     489154 non-null object
LATITUDE            489154 non-null float64
LONGITUDE           489154 non-null float64
STATE               489154 non-null object
COUNTY_NAME         0 non-null object
LatLong             489154 non-null object
dtypes: float64(4), int64(3), object(6)
memory usage: 48.5+ MB

Step 5: Getting CountyName by Passing Latitude and Longitude Value as tuple to "reverse_geocoder.search" method as parameters.
As county value had "County" as suffix, truncated it from column values.

In [228]:
# importing geocoder package
import reverse_geocoder as rg

# converted LatLong tuple column to a list and passed this a parameter for search method.
coordinates = nullCountyNameDF['LatLong'].to_list()
newCountyNames = rg.search(coordinates)

# Converted the output from list to a dataframe and renamed column names to appropriate names.
newCountyNamesDF = pd.DataFrame(newCountyNames)
newCountyNamesDF = newCountyNamesDF.rename(columns={'admin1':'State','admin2':'County'})

# striped suffix "County" from values of column "County"
newCountyNamesDF['County'] = newCountyNamesDF['County'].map(lambda x: x.rstrip(' County'))
newCountyNamesDF

             lat         lon              name           State   County  cc
0       41.20821  -122.27195          Dunsmuir      California    Siski  US
1       41.20821  -122.27195          Dunsmuir      California    Siski  US
2       39.25666  -104.99248        Perry Park        Colorado  Douglas  US
3       38.84222  -106.13113       Buena Vista        Colorado  Chaffee  US
4       39.25082  -106.29252         Leadville        Colorado     Lake  US
...          ...         ...               ...             ...      ...  ..
489149  35.19543   -79.46948         Pinehurst  North Carolina    Moore  US
489150  35.34599   -79.41697          Carthage  North Carolina    Moore  US
489151  35.43403   -79.58697           Robbins  North Carolina    Moore  US
489152  35.25571   -79.37225  Whispering Pines  North Carolina    Moore  US
489153  35.34599   -79.41697          Carthage  North Carolina    Moore  US

[489154 rows x 6 columns]

Step 6: At first look I observed few of the county names are not matching with expected states in "noCountyNameDF" DataFrame.(Note: When latitude and longitude lies in US state border this discripency of value is observed).
To get rows with the mismatching State value, new column is mapped with State name and State Code as dictionary with former being key.

In [229]:
# Reading a file to get all USA states with its name and abrreviation as columns
zipcode = pd.read_csv('states.csv',low_memory=False)

# Build a dictionary with State names as key and its Abbreviation as value.
zipcodeDict = dict(zip(zipcode['State'], zipcode['Abbreviation']))
print(zipcodeDict)

{'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR', 'California': 'CA', 'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE', 'District of Columbia': 'DC', 'Florida': 'FL', 'Georgia': 'GA', 'Hawaii': 'HI', 'Idaho': 'ID', 'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 'Kansas': 'KS', 'Kentucky': 'KY', 'Louisiana': 'LA', 'Maine': 'ME', 'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV', 'New Hampshire': 'NH', 'New Jersey': 'NJ', 'New Mexico': 'NM', 'New York': 'NY', 'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK', 'Oregon': 'OR', 'Maryland': 'MD', 'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS', 'Missouri': 'MO', 'Pennsylvania': 'PA', 'Rhode Island': 'RI', 'South Carolina': 'SC', 'South Dakota': 'SD', 'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT', 'Vermont': 'VT', 'Virginia': 'VA', 'Washington': 'WA', 'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY'}

In [230]:
# map State names from dataFrame newCountyNamesDF with dictionary zipcodeDict
newCountyNamesDF['state_code'] = newCountyNamesDF['State'].map(zipcodeDict)
newCountyNamesDF.head(5)

        lat         lon         name       State   County  cc state_code
0  41.20821  -122.27195     Dunsmuir  California    Siski  US         CA
1  41.20821  -122.27195     Dunsmuir  California    Siski  US         CA
2  39.25666  -104.99248   Perry Park    Colorado  Douglas  US         CO
3  38.84222  -106.13113  Buena Vista    Colorado  Chaffee  US         CO
4  39.25082  -106.29252    Leadville    Colorado     Lake  US         CO

In [231]:
# dropped not required columns from DataFrame newCountyNamesDF
newCountyNamesDF = newCountyNamesDF.drop(labels=['lat','lon','name','cc'],axis=1)
newCountyNamesDF.head(5)

        State   County state_code
0  California    Siski         CA
1  California    Siski         CA
2    Colorado  Douglas         CO
3    Colorado  Chaffee         CO
4    Colorado     Lake         CO

Step 7: Merge DataFrames nullCountyNameDF(with null County names) and newCountyNamesDF(with county names derived from geocoder package)

In [232]:
# merge dataframes noCountyNameDF and newCountyNamesDF

CountyNameDF = pd.merge(nullCountyNameDF, newCountyNamesDF, right_index=True,left_index=True)
CountyNameDF.head(5)

,FOD_ID,OWNER_DESCR,DISCOVERY_DATE,DISCOVERY_DOY,STAT_CAUSE_DESCR,FIRE_YEAR,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,COUNTY_NAME,LatLong,State,County,state_code
0,8,STATE OR PRIVATE,2453437.5,67,Debris Burning,2005,0.8,B,40.968056,-122.433889,CA,NaN,"(40.96805556, -122.4338889)",California,Siski,CA
1,9,STATE OR PRIVATE,2453444.5,74,Debris Burning,2005,1.0,B,41.233611,-122.283333,CA,NaN,"(41.23361111, -122.28333329999998)",California,Siski,CA
2,48,USFS,2453535.5,165,Lightning,2005,0.5,B,39.292222,-105.183056,CO,NaN,"(39.29222222, -105.18305559999999)",Colorado,Douglas,CO
3,62,USFS,2453520.5,150,Lightning,2005,0.2,A,38.913333,-105.983611,CO,NaN,"(38.91333333, -105.9836111)",Colorado,Chaffee,CO
4,63,USFS,2453542.5,172,Campfire,2005,0.1,A,39.100278,-106.367500,CO,NaN,"(39.10027778, -106.3675)",Colorado,Lake,CO

In [233]:
CountyNameDF.shape

(489154, 16)

Step 8: Drop rows with the mismatching State value when DataSet value is compared with County data values obtained from reverse_geocoder package

In [234]:
CountyNameDF['Valid'] = CountyNameDF['STATE'] == CountyNameDF['state_code']
cond = CountyNameDF['Valid'] == False
CountyNameDF.drop(CountyNameDF[cond].index,inplace = True)
# reindexing the new DataFrame
CountyNameDF.index = pd.RangeIndex(len(CountyNameDF.index))

CountyNameDF.shape

(472217, 17)

In [235]:
CountyNameDF.head(5)

,FOD_ID,OWNER_DESCR,DISCOVERY_DATE,DISCOVERY_DOY,STAT_CAUSE_DESCR,FIRE_YEAR,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,COUNTY_NAME,LatLong,State,County,state_code,Valid
0,8,STATE OR PRIVATE,2453437.5,67,Debris Burning,2005,0.8,B,40.968056,-122.433889,CA,NaN,"(40.96805556, -122.4338889)",California,Siski,CA,True
1,9,STATE OR PRIVATE,2453444.5,74,Debris Burning,2005,1.0,B,41.233611,-122.283333,CA,NaN,"(41.23361111, -122.28333329999998)",California,Siski,CA,True
2,48,USFS,2453535.5,165,Lightning,2005,0.5,B,39.292222,-105.183056,CO,NaN,"(39.29222222, -105.18305559999999)",Colorado,Douglas,CO,True
3,62,USFS,2453520.5,150,Lightning,2005,0.2,A,38.913333,-105.983611,CO,NaN,"(38.91333333, -105.9836111)",Colorado,Chaffee,CO,True
4,63,USFS,2453542.5,172,Campfire,2005,0.1,A,39.100278,-106.367500,CO,NaN,"(39.10027778, -106.3675)",Colorado,Lake,CO,True

In [236]:
# drop no longer required columns and rename column names as desired
CountyNameDF = CountyNameDF.drop(labels=['COUNTY_NAME','LatLong','state_code','Valid','State'],axis=1)
CountyNameDF = CountyNameDF.rename(columns={'County':'COUNTY_NAME'})
CountyNameDF.head(5)

,FOD_ID,OWNER_DESCR,DISCOVERY_DATE,DISCOVERY_DOY,STAT_CAUSE_DESCR,FIRE_YEAR,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,COUNTY_NAME
0,8,STATE OR PRIVATE,2453437.5,67,Debris Burning,2005,0.8,B,40.968056,-122.433889,CA,Siski
1,9,STATE OR PRIVATE,2453444.5,74,Debris Burning,2005,1.0,B,41.233611,-122.283333,CA,Siski
2,48,USFS,2453535.5,165,Lightning,2005,0.5,B,39.292222,-105.183056,CO,Douglas
3,62,USFS,2453520.5,150,Lightning,2005,0.2,A,38.913333,-105.983611,CO,Chaffee
4,63,USFS,2453542.5,172,Campfire,2005,0.1,A,39.100278,-106.367500,CO,Lake

In [237]:
US_fires.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 12 columns):
FOD_ID              1048575 non-null int64
OWNER_DESCR         1048575 non-null object
DISCOVERY_DATE      1048575 non-null float64
DISCOVERY_DOY       1048575 non-null int64
STAT_CAUSE_DESCR    1048575 non-null object
FIRE_YEAR           1048575 non-null int64
FIRE_SIZE           1048575 non-null float64
FIRE_SIZE_CLASS     1048575 non-null object
LATITUDE            1048575 non-null float64
LONGITUDE           1048575 non-null float64
STATE               1048575 non-null object
COUNTY_NAME         559421 non-null object
dtypes: float64(4), int64(3), object(5)
memory usage: 96.0+ MB

Step 9: removing all the rows which have no county names in DataFrame US_fire

In [238]:

# remove all the rows which have no county names in DataFrame US_fires
cond = US_fires['COUNTY_NAME'].isnull()
US_fires.drop(US_fires[cond].index,inplace = True)

# reindexing the new DataFrame
US_fires.index = pd.RangeIndex(len(US_fires.index))

In [239]:
US_fires.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559421 entries, 0 to 559420
Data columns (total 12 columns):
FOD_ID              559421 non-null int64
OWNER_DESCR         559421 non-null object
DISCOVERY_DATE      559421 non-null float64
DISCOVERY_DOY       559421 non-null int64
STAT_CAUSE_DESCR    559421 non-null object
FIRE_YEAR           559421 non-null int64
FIRE_SIZE           559421 non-null float64
FIRE_SIZE_CLASS     559421 non-null object
LATITUDE            559421 non-null float64
LONGITUDE           559421 non-null float64
STATE               559421 non-null object
COUNTY_NAME         559421 non-null object
dtypes: float64(4), int64(3), object(5)
memory usage: 51.2+ MB

Step 10: Merge dataframes US_fires(559421 entries) and CountyNameDF(472217 entries)

In [240]:
US_fires = pd.concat([US_fires, CountyNameDF])

In [241]:
US_fires

,FOD_ID,OWNER_DESCR,DISCOVERY_DATE,DISCOVERY_DOY,STAT_CAUSE_DESCR,FIRE_YEAR,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,COUNTY_NAME
0,1,USFS,2453403.5,33,Miscellaneous,2005,0.10,A,40.036944,-121.005833,CA,Plumas
1,2,USFS,2453137.5,133,Lightning,2004,0.25,A,38.933056,-120.404444,CA,Placer
2,3,STATE OR PRIVATE,2453156.5,152,Debris Burning,2004,0.10,A,38.984167,-120.735556,CA,El Dorado
3,4,USFS,2453184.5,180,Lightning,2004,0.10,A,38.559167,-119.913333,CA,Alpine
4,5,USFS,2453184.5,180,Lightning,2004,0.10,A,38.559167,-119.933056,CA,Alpine
...,...,...,...,...,...,...,...,...,...,...,...,...
472212,1178538,MISSING/NOT SPECIFIED,2452440.5,166,Smoking,2002,0.60,B,35.233300,-79.433300,NC,Moore
472213,1178539,MISSING/NOT SPECIFIED,2452440.5,166,Equipment Use,2002,4.00,B,35.416700,-79.400000,NC,Moore
472214,1178540,MISSING/NOT SPECIFIED,2452440.5,166,Equipment Use,2002,16.00,C,35.450000,-79.566700,NC,Moore
472215,1178541,MISSING/NOT SPECIFIED,2452440.5,166,Debris Burning,2002,0.50,B,35.283300,-79.416700,NC,Moore
472216,1178542,MISSING/NOT SPECIFIED,2452442.5,168,Equipment Use,2002,0.40,B,35.333300,-79.350000,NC,Moore

In [242]:
US_fires.shape

(1031638, 12)

Step 11: column "DISCOVERY_DATE" was in data type float64 and not in Datetime format as expected. Hence I converted it to a readable date format from julian date.

In [245]:
from datetime import datetime
epoch = pd.to_datetime(0, unit='s').to_julian_date()
US_fires['date'] = pd.to_datetime(US_fires['DISCOVERY_DATE']- epoch, unit='D')

In [246]:
US_fires[['date','DISCOVERY_DATE']]

             date  DISCOVERY_DATE
0      2005-02-02       2453403.5
1      2004-05-12       2453137.5
2      2004-05-31       2453156.5
3      2004-06-28       2453184.5
4      2004-06-28       2453184.5
...           ...             ...
472212 2002-06-15       2452440.5
472213 2002-06-15       2452440.5
472214 2002-06-15       2452440.5
472215 2002-06-15       2452440.5
472216 2002-06-17       2452442.5

[1031638 rows x 2 columns]

Step 12: Dropped DISCOVERY_DATE. Remaned "date" column and FOD_ID column names to more appropriate names.

In [247]:
US_fires = US_fires.drop(labels=['DISCOVERY_DATE'],axis=1)
US_fires = US_fires.rename(columns={'date':'DISCOVERY_DATE','FOD_ID':'GLOBAL_UNIQUE_ID'})
US_fires.head()

,GLOBAL_UNIQUE_ID,OWNER_DESCR,DISCOVERY_DOY,STAT_CAUSE_DESCR,FIRE_YEAR,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,COUNTY_NAME,DISCOVERY_DATE
0,1,USFS,33,Miscellaneous,2005,0.10,A,40.036944,-121.005833,CA,Plumas,2005-02-02
1,2,USFS,133,Lightning,2004,0.25,A,38.933056,-120.404444,CA,Placer,2004-05-12
2,3,STATE OR PRIVATE,152,Debris Burning,2004,0.10,A,38.984167,-120.735556,CA,El Dorado,2004-05-31
3,4,USFS,180,Lightning,2004,0.10,A,38.559167,-119.913333,CA,Alpine,2004-06-28
4,5,USFS,180,Lightning,2004,0.10,A,38.559167,-119.933056,CA,Alpine,2004-06-28

Step 13: Created a column with full state Name as value

In [266]:
# Build a dictionary with State names as value and its Abbreviation as key.
statenameDict = dict(zip( zipcode['Abbreviation'],zipcode['State']))
    
    
# map State names from dataFrame newCountyNamesDF with dictionary zipcodeDict
US_fires['STATE_NAME'] = US_fires['STATE'].map(statenameDict)
US_fires.head(5)

,GLOBAL_UNIQUE_ID,DISCOVERY_DATE,FIRE_YEAR,STAT_CAUSE_DESCR,FIRE_SIZE,FIRE_SIZE_CLASS,STATE,COUNTY_NAME,LATITUDE,LONGITUDE,DISCOVERY_DOY,OWNER_DESCR,STATE_NAME
0,1,2005-02-02,2005,Miscellaneous,0.10,A,CA,Plumas,40.036944,-121.005833,33,USFS,California
1,2,2004-05-12,2004,Lightning,0.25,A,CA,Placer,38.933056,-120.404444,133,USFS,California
2,3,2004-05-31,2004,Debris Burning,0.10,A,CA,El Dorado,38.984167,-120.735556,152,STATE OR PRIVATE,California
3,4,2004-06-28,2004,Lightning,0.10,A,CA,Alpine,38.559167,-119.913333,180,USFS,California
4,5,2004-06-28,2004,Lightning,0.10,A,CA,Alpine,38.559167,-119.933056,180,USFS,California

Step 14: Rearraged columns in dataframe

In [267]:
column_names = ["GLOBAL_UNIQUE_ID", "DISCOVERY_DATE",'FIRE_YEAR','STAT_CAUSE_DESCR','FIRE_SIZE','FIRE_SIZE_CLASS','STATE','STATE_NAME','COUNTY_NAME','LATITUDE','LONGITUDE','DISCOVERY_DOY','OWNER_DESCR']
US_fires = US_fires.reindex(columns=column_names)

In [268]:
US_fires.head()

,GLOBAL_UNIQUE_ID,DISCOVERY_DATE,FIRE_YEAR,STAT_CAUSE_DESCR,FIRE_SIZE,FIRE_SIZE_CLASS,STATE,STATE_NAME,COUNTY_NAME,LATITUDE,LONGITUDE,DISCOVERY_DOY,OWNER_DESCR
0,1,2005-02-02,2005,Miscellaneous,0.10,A,CA,California,Plumas,40.036944,-121.005833,33,USFS
1,2,2004-05-12,2004,Lightning,0.25,A,CA,California,Placer,38.933056,-120.404444,133,USFS
2,3,2004-05-31,2004,Debris Burning,0.10,A,CA,California,El Dorado,38.984167,-120.735556,152,STATE OR PRIVATE
3,4,2004-06-28,2004,Lightning,0.10,A,CA,California,Alpine,38.559167,-119.913333,180,USFS
4,5,2004-06-28,2004,Lightning,0.10,A,CA,California,Alpine,38.559167,-119.933056,180,USFS

In [269]:
US_fires.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1031638 entries, 0 to 472216
Data columns (total 13 columns):
GLOBAL_UNIQUE_ID    1031638 non-null int64
DISCOVERY_DATE      1031638 non-null datetime64[ns]
FIRE_YEAR           1031638 non-null int64
STAT_CAUSE_DESCR    1031638 non-null object
FIRE_SIZE           1031638 non-null float64
FIRE_SIZE_CLASS     1031638 non-null object
STATE               1031638 non-null object
STATE_NAME          1031638 non-null object
COUNTY_NAME         1031638 non-null object
LATITUDE            1031638 non-null float64
LONGITUDE           1031638 non-null float64
DISCOVERY_DOY       1031638 non-null int64
OWNER_DESCR         1031638 non-null object
dtypes: datetime64[ns](1), float64(3), int64(3), object(6)
memory usage: 110.2+ MB

Step 15: Checked if there are any outliers with respect to FIRE_YEAR column

In [270]:
US_fires[['FIRE_YEAR']].describe()

          FIRE_YEAR
count  1.031638e+06
mean   2.000800e+03
std    5.025733e+00
min    1.992000e+03
25%    1.997000e+03
50%    2.001000e+03
75%    2.005000e+03
max    2.009000e+03

there were no outliers which needs to be discarded

In [271]:
US_fires.to_csv("US_Widfires_cleanData.csv")