In [2]:
import pandas as pd
import json
from pandas.io.json import json_normalize
import numpy as np

Task 1: Find the 10 countries with most projects

Reading the .json data file usid panda function read_json as we need dataframe and counting 'contryname' to get countries with most projects

Assumption: Africa is represented as country in the data set

In [4]:
df = pd.read_json('world_bank_projects.json')
df['countryname'].value_counts().head(10)

Republic of Indonesia              19
People's Republic of China         19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Kingdom of Morocco                 12
Nepal                              12
People's Republic of Bangladesh    12
Republic of Mozambique             11
Africa                             11
Name: countryname, dtype: int64

Task 2: Find the top 10 major project themes (using column 'mjtheme_namecode')

reading data from 'json file using json.load() as data is needed as list
using json_normalize() function to build DataFrame based on values of column 'mjtheme_namecode'
counting 'name'(project theme names) to get major project themes

Note: This is returning result considering "" as a value

In [6]:
with open('world_bank_projects.json','r') as file:
    loadedData = json.load(file)  
df_themes = json_normalize(loadedData, 'mjtheme_namecode')
df_themes['name'].value_counts().head(10)

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64

This is not given task: In this task I am just filling black values with "Nan"

In [7]:
nan_value = float("NaN")
#df_themes.replace("",nan_value,inplace=True)
df_themes['name'].value_counts().head(10)
df_themes

     code                                      name
0       8                         Human development
1      11
2       1                       Economic management
3       6     Social protection and risk management
4       5                     Trade and integration
...   ...                                       ...
1494   10                         Rural development
1495    9                         Urban development
1496    8                         Human development
1497    5                     Trade and integration
1498    4  Financial and private sector development

[1499 rows x 2 columns]

Task 3: In Task 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

Step 1 : creating a dictionary 'codeNameDict' with code-name as key-value pair

In [8]:
codeList = list(df_themes['code'])
namesList = list(df_themes['name'])
codeName = list(set((zip(codeList,namesList))))
codeNameDict = {}
for i in codeName:
    if i[1] != '':
        codeNameDict[i[0]] = i[1]
print(codeNameDict)

{'6': 'Social protection and risk management', '11': 'Environment and natural resources management', '10': 'Rural development', '4': 'Financial and private sector development', '9': 'Urban development', '5': 'Trade and integration', '7': 'Social dev/gender/inclusion', '1': 'Economic management', '2': 'Public sector governance', '8': 'Human development', '3': 'Rule of law'}

step 2: Fill in the blank value in column 'name' with value from dictionary 'codeNameDict' using 'code' as key

In [9]:
df_themes['name'] = df_themes['code'].map(codeNameDict)

Step 3: print the dataframe 

df_themes -- DataFrame with poject theme 'code' and 'name' as columns
df -- Dataframe with NULL values build directly from the data file 'data/world_bank_projects.json'
result ----- Concatinated DataFrame of df_themes and df

In [10]:
df_themes['name'].value_counts().head(10)

Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
Name: name, dtype: int64